= form_for(@track) do |f|
  = f.error_messages
  %p
    = f.label( "title" )
    %br
    = f.text_field( :title )
  %p
    = f.label( "all authors of track" )
    %br
    = f.text_field( :authors )
  %p
    = f.label( "video url" )
    %br
    = f.text_field( :url )
  %p
    = f.label( :lyrics )
    %br
    = f.text_area( :lyrics )
  .field
    = hidden_field_tag "track[artist_ids][]", nil
    - Artist.all.each do |artist|      
      = check_box_tag "track[artist_ids][]", artist.id, @track.artist_ids.include?(artist.id), id: dom_id(artist)
      .names
        = label_tag dom_id(artist), artist.name
      %br
  %p
    = f.submit()
