.login
  - if current_user then
    = link_to 'Logout', logout_path
  - else
    = link_to 'Login', login_path

- title @track.authors + ' - ' + @track.title

- if @track.url != '' then
  %iframe{:AllowScriptAccess => "always", :allowFullScreen => "true", :frameborder => "27",
          :height => "230", :src => "#{youtube_id(@track.url)}",
          :title => "YouTube video player", :width => "340"}

-#%object{:height => "0", :width => "0"}
-#  %param{:name => "movie", :value => "http://www.youtube.com/v#{$youtube_id[1]}"}
-#  %param{:name => "AllowFullScreen", :value => "true"}
-#  %param{:name => "AllowScriptAccess", :value => "always"}
-#  %embed{:AllowFullScreen => "true", :AllowScriptAccess => "always",
-#         :height => "290", :src => "http://www.youtube.com/v#{$youtube_id[1]}",
-#         :type => "application/x-ShockWave-flash", :width => "440"}

%p
  %strong Lyrics:
  = simple_format(@track.lyrics)
- if current_user then
  %p

    = link_to "Edit", edit_track_path(@track)
    |
    = link_to "Delete", @track, :confirm => 'Are you sure?', :method => :delete

%strong Also you can see this track among:
- for artist in @track.artists
  - if artist.id != $key.id then
    = link_to "#{artist.name}", artist_path(artist)
%br

-#%p
-#  %strong Another authors of this track:
-#  = @track.authors

= link_to "Back to the #{$key.name} songs", artist_path($key.id)