- title "Welcome to yoop, dear friend"
%h1 Here you can find correct lyrics for your favourite songs, enjoy!
%table
  %tr
    %th= sortable "name", "Artist"
    %th= sortable "genre", "Genre"
  - for artist in @artists
    %tr
      %td= link_to artist.name, artist_path(artist)
      %th= artist.genre
      - if current_user then
        %td= link_to 'Edit', edit_artist_path(artist)
        %td= link_to 'Delete', artist, :confirm => 'Are you sure?', :method => :delete

- if current_user then
  %p= link_to "New artist", new_artist_path