- title @artist.name

- $key = @artist
/ .search
/   = form_tag track_path, :method => :get do
/     %p
/       = text_field_tag :search, params[:search]
/       = submit_tag 'Search', :name => nil
%table
  %tr
    %th Tracks:
  - for track in @artist.tracks
    %tr
      %td= link_to track.title, track_path(track)
      - if current_user then
        %td= link_to 'Edit', edit_track_path(track)
        %td= link_to 'Delete', track, :confirm => 'Are you sure?', :method => :delete

- if current_user then
  %p= link_to "New track", new_track_path
%p= link_to "Back to the artists", artists_path
