.navbar.navbar-fixed-top
  .navbar-inner
    #logo          
      %h3
        = link_to 'Yoop', artists_path
    .search
      = form_tag artists_path, :method => :get do              
        = text_field_tag :search, params[:search], "id" => "search_size"        
        = submit_tag 'Search', :name => nil, "id" => "search_btn_size"        
    .login
      - if current_user then 
        = "Welcome, #{current_user.username}, #{current_user.uid}, #{current_user.provider}"
        = link_to 'Logout', logout_path
      - else
        = link_to 'Login/Sign Up', login_path
        = link_to "Sign in with facebook", "/auth/facebook"
        = link_to "Sign in with google", "/auth/google"
